div(ng-include="'components/navbar/navbar.html'")
div.container
  h2 Пользователи
  table.table.table-striped
    thead
      tr
        th Аватарка
        th Имя
        th Количество овец
        th Очки
    tbody
      tr(ng-repeat="user in users")
        td
          img.avatar(ng-src="{{user.avatar}}")
        td
          a(ng-href="#/user/{{user.id}}") {{user.fullname}}
        td {{user.sheep.length}}

        td {{user.score || 0}}
