div(ng-include="'components/navbar/navbar.html'")
div.container
  div.debug(ng-include="'components/sheep/_sheep_table.html'")
  div(ng-include="'components/sheep/_sheep_img.html'")
  //div.box
  //  div.content-container
  //    thing(ng-click="click()" src="../assets/images/sheep.gif")
  //    thing(ng-click="click()" src="../../assets/images/sheep_PNG2718.png")
