table.table.table-striped(ng-show="sheeps.length || true")
  tr
    th Имя
    th Цвет
    th Хозяин
    th Время последней стрижки
    th Следующая стрижка
    th Действие
  tr(ng-repeat="sheep in sheeps")
    td {{sheep.name}}
    td {{sheep.color}}
    td
      a(ng-href="#/user/{{sheep.owner.id}}") {{sheep.owner.fullname}}
    td {{sheep.haircutDate | date:"MM/dd/yyyy 'в' H:mm"}}
    td {{sheep.nextHaircut | date:"MM/dd/yyyy 'в' H:mm"}}
    td
      button.btn.btn-success(ng-click="server.action.cut(sheep.id)") Стричь
