div.box(ng-repeat="sheep in sheeps")
  div.content-container
    thing.sheep-100px(src="http://pngimg.com/upload/sheep_PNG2718.png"
    ng-show="sheep.nextHaircut | sheared" ng-click="server.sheep.cut(sheep.id)"
    name="sheep.name")
    thing.sheep-100px(src="http://img3.proshkolu.ru/content/media/pic/std/3000000/2927000/2926848-76ed12c4651fdd58.gif" ng-hide="sheep.nextHaircut | sheared"
    ng-click="server.sheep.cut(sheep.id)"
    name="sheep.name")
