.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

  img.pull-right
    width 50px

.debug
  display none

.sheep-100px
  max-width 100px
  cursor pointer

.sheep-200px
  max-width 200px
  cursor pointer

.box
  width 1000px
	height 800px
	overflow hidden

.content-container
  position relative

.thing
  transition-property transform
  transition-timing-function ease-in-out
  position absolute

.avatar
  max-width 50px

.field
  max-width 800px
  height 800px
body
  background url("http://www.1366x768.net/large/201201/8461.jpg")
  /*background url("http://www.fonstola.ru/pic/201302/2560x1600/fonstola.ru-90037.jpg")*/

// injector
// endinjector
