<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/profile">
        <span class="glyphicon glyphicon-scissors"></span> SheepSheerer
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a ng-href="#">Home</a></li>-->
        <!--<li><a ng-href="#">About</a></li>-->
        <!--<li><a ng-href="#">Contact</a></li>-->
        <li><a ng-href="#/profile">Профиль</a></li>
        <li><a ng-href="#/users">Пользователи</a></li>
        <li><a ng-href="#/sheep">Овцы</a></li>
        <li data-ng-class="{'active': isDebug()}" style="cursor: pointer;">
          <a ng-click="toggleDebug()">&nbsp;</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
<style data-ng-if="isDebug()">
  .debug {
    display: block;
  }
</style>
