div(ng-include="'components/navbar/navbar.html'")
div.container
  div.well.debug
    button.btn.btn-default(ng-click="user.login()") войти
    p {{user.data}}
  div.row
    div.col-md-12
      div.text-center
        img.img-thumbnail.avatar(ng-src="{{user.data.avatar || 'http://thesocietypages.org/socimages/files/2009/05/vimeo.jpg'}}")
  div.row
    div.col-md-12
      h2.text-center {{user.data.fullname}}

  div.row
    div.col-md-12
      h2.text-center Очки: {{user.data.score || 0}}

  div.row
    div.col-md-12(ng-include="'views/_sheep_table.html'")

  div.field
    div(ng-include="'components/sheep/_sheep_img.html'")
